/* Timeline Card */
.timeline-card {
    box-sizing: border-box;
    position: absolute;
    background: var(--tp-button-background-color-active);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: var(--tp-button-foreground-color);
    font-family: var(--tp-font-family), sans-serif;
    user-select: none;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease, box-shadow 0.2s ease;
    opacity: 0.6;
}

.timeline-card:hover {
    transform: translateY(-2px);
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline-card.active {
    opacity: 0.9;
}
.timeline-card.selected{
    opacity: 1;
    transform: translateY(0);
    /*background: var(--tp-button-background-color-hover);*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Timeline Card Handle */
.timeline-card-handle {
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    bottom: 3px;
    /*transform: translateY(-50%);*/
    height: calc(100% - 6px);
    cursor: ew-resize;
    /*background: var(--tp-button-background-color);*/
    /*border-radius: 0 8px 8px 0;*/
    border-radius: 5px;
    opacity: 0;

    background: transparent;
    border: 2px solid white;
    /*border-left: 0;*/
    transition: opacity 0.2s ease, background 0.2s ease;
}

.timeline-card-handle.selected, .timeline-card-handle.active{
    /*background: var(--tp-input-foreground-color);*/
    opacity: 0.6;
}
.timeline-card-handle:hover{
    /*background: var(--tp-input-foreground-color);*/
    opacity: 1;
}

.timeline-card-handle.left {
    left: 3px;
}

.timeline-card-handle.right {
    right: 3px;
}

/* Timeline Card Label */
.timeline-card-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 100%;
    padding: 0 8px;
    flex: 1 1 auto;
}
.selected .timeline-card-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 100%;
    padding: 12px;
    flex: 1 1 auto;
}

/* Timeline Track */
.timeline-track {
    box-sizing: border-box;
    position: relative;
    background: transparent;
}

/* Timeline Ruler */
.timeline-ruler {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background: var(--tp-base-background-color);
}

.timeline-ruler-mark {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    height: 100%;
    /*border-left: 1px solid var(--tp-container-border-color);*/
    margin-left: 1px;
    font-size: 10px;
    color: var(--tp-monitor-foreground-color);
    font-family: var(--tp-font-family);
    padding-left: 2px;
}

/* Timeline Time Indicator */
.timeline-indicator {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--tp-groove-foreground-color);
    pointer-events: none;
    z-index: 10;
}

.timeline-indicator-head {
    box-sizing: border-box;
    position: absolute;
    top: -8px;
    left: -6px;
    width: 14px;
    height: 14px;
    background: var(--tp-groove-foreground-color);
    border-radius: 50%;
}

/* Timeline Track Labels */
.timeline-track-labels {
    box-sizing: border-box;
    width: 140px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.timeline-track-label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--tp-label-foreground-color);
    font-family: var(--tp-font-family), sans-serif;
}

/* Timeline Controls */
.timeline-controls {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--tp-font-family), sans-serif;
    user-select: none;
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.timeline-controls-title {
    color: var(--tp-container-foreground-color);
    font-size: 12px;
    font-weight: bold;
}

.timeline-controls-buttons {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 4px;
}

.timeline-controls-button {
    box-sizing: border-box;
    background: transparent;
    border: none;
    color: var(--tp-button-foreground-color);
    font-family: var(--tp-font-family);
    padding: 3px;
    border-radius: var(--tp-element-border-radius);
    cursor: pointer;
    font-size: 12px;
    display: flex;
    outline: none;
    transition: background 0.2s ease, color 0.2s ease;
}
.timeline-controls-button > svg{
    width: 20px;
    height: 20px;
}
.timeline-controls-button.active {
    background: var(--tp-button-background-color-active);
}
.timeline-controls-button:hover{
    background: var(--tp-button-background-color-hover);
}

.timeline-time-display {
    box-sizing: border-box;
    font-size: 12px;
    min-width: 60px;
    color: var(--tp-monitor-foreground-color);
    font-family: var(--tp-font-family);
}

/* Timeline Content */
.timeline-content {
    box-sizing: border-box;
    flex: 1;
    position: relative;
    padding: 0;
}

.timeline-grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.timeline-grid-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--tp-container-border-color);
    /*opacity: 0.3;*/
}

.timeline-tracks-container {
    box-sizing: border-box;
    position: relative;
    /*cursor: pointer;*/
}

/* Timeline Root Container */
.timeline-root-container {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--tp-base-background-color);
    padding: 0;
    border-radius: var(--tp-element-border-radius);
    pointer-events: auto;
    width: calc(100% - 40px);
    margin: 20px;
    height: auto;
    color: var(--tp-container-foreground-color);
    font-family: var(--tp-font-family), sans-serif;
    overflow: hidden;
    border: 1px solid var(--tp-container-border-color);
    box-shadow: 0 4px 8px var(--tp-base-shadow-color);
}

.timeline-main-row {
    display: flex;
    height: auto;
    width: 100%;
}

.timeline-scroll-container {
    display: flex;
    height: auto;
    width: 100%;
    flex: 1 1 50%;
    overscroll-behavior: contain;
    overflow-x: scroll;
    overflow-y: hidden;
    user-select: none;
}
